html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Graduate', cursive;
}
body {
    background-color: #474747;
}

/* Loader spinner. */
#map>i.loading {
    color: white;
    width: 100%;
    margin: 10% auto;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#map {
    height: 100%;
    float: left;
    width: 100%;
}

.modal {
    text-align: center;
    z-index: 20;
}

.modal-backdrop {
    z-index: 10;
}

.gm-style-iw {
    text-align: center;
}

/** To keep the modal window centered vertically on big screens */
@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.game-container .modal-dialog {
    width: auto;
}

/** Game controls */

.control-wrapper {
    opacity: 0.7;
}

button.btn,
.control {
    font-weight: bolder;
    font-size: large;
}

@media screen and (max-width : 480px) {
    button.btn,
    .control {
        font-size: x-small;
    }
}

@media screen and (max-width : 400px) {
    button.btn,
    .control {
        font-size: xx-small;
    }
}

.control {
    color: #f5f5f5;
    background-color: #474747;
    border: 1px solid #f5f5f5;
    margin: 20px 10px;
}

/* For icon with text */
.control-wrapper pre.state {
    padding: 5px 9.5px;
}

@media screen and (max-width : 576px) {
    .control-wrapper pre.state {
        margin: 10px 1px 0 1px;
    }
}

@media screen and (max-width : 400px) {
    .control-wrapper pre.state {
        padding: 5px 5px;
    }
}

pre.control span {
    margin-left: 10px;
    font-family: 'Graduate', cursive;
}

@media screen and (max-width : 576px) {
    pre.control span {
        margin-left: 5px;
    }
}

@media screen and (max-width : 400px) {
    pre.control span {
        margin-left: 2px;
    }
}

.vertical-left-control {
    margin: 5px 0 5px 10px;
}

.vertical-right-control {
    margin: 5px 10px 5px 0;
}

pre.control span.badge {
    margin: 0;
}

.actionable-control {
    cursor: pointer;
}

pre.control-combo-top {
    margin-bottom: 0;
}

.control-combo-bottom {
    margin-top: 0;
}

.infobox-wrapper {
    display:none;
}

.infoBox {
    max-width: 60%;
    min-width: 30%;
    font-family: 'Graduate', cursive;
    font-size: 12px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

/** Includes .infowindow-wrapper margin-top. */
.infoBox>img {
    top: 18px;
    right: 10px;
}

.infoBox .just-text {
    text-align: center;
    margin: 3px;
    font-family: sans-serif;
    font-size: small;
}

.infowindow-wrapper {
    margin-top: 8px;
    background: #474747;
    overflow: visible;
    border:2px solid black;
    -webkit-box-shadow: 0 0 8px #000;
    box-shadow: 0 0 8px #000;
    color: #f5f5f5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.infowindow-wrapper .poi-img {
    margin-top: -22px;
}

.infowindow-wrapper h3 {
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (max-width : 480px) {
    .infowindow-wrapper h3 {
        font-size: large;
        /* It may cover the close button on small window sizes.*/
        margin-left: 10px;
        margin-right: 30px;
    }
}

.infowindow-content {
    margin: 70px 10px 15px 20px;
    font-size: x-large;
}

@media only screen and (max-width: 767px) {
    .infowindow-content {
        margin: 70px 10px 15px 20px;
        font-size: large;
    }
}

.infowindow-wrapper .action-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.infowindow-wrapper .action-buttons button {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 150%;
}

@media only screen and (max-width : 480px) {
    .infowindow-wrapper .action-buttons button {
        font-size: initial;
        left: 50%;
        bottom: 0;
        position: relative;
        transform: translate(-50%);
        margin: 7px 0;
    }
}

/* We don't display the player pic if using the responsive layout */
@media only screen and (max-width : 767px) {
    .action-header .action-player-pic {
        display: none;
    }
}

.action-header img {
    margin: auto;
}


.action-buttons button {
    margin: 3px 10px;
}

/** Avoid multiple lines action buttons. */
@media only screen and (max-width : 855px) {
    .action-buttons button {
        margin: 3px;
    }
}

.achievements-title {
    margin-bottom: 1em;
}

.continue-buttons {
    margin-top: 2em;
}

.info-box {
    text-align: center;
    margin: 20px auto 10px auto;
}

.story-name {
    margin-bottom: 20px;
    font-size: 3em;
    font-weight:700;
    font-family: 'Passion One', cursive;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

@media only screen and (max-width: 576px) {
    .story-name {
        font-size: 1.5em;
    }
}

.story-intro > div.intro-text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'UnifrakturCook', cursive;
}

.pac-item {
    font-family: 'Graduate', cursive;
}

.big-centered-img {
    width: 40%;
    margin: 20px auto 10px auto;
    border-style: solid;
    border-width: thick;
}

.notification a {
    text-decoration: none;
    cursor: pointer;
}

.notification-img {
    height: 2em;
}

/** From bootstrap components .badge */
.badge {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 10px;
    padding: 3px 7px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #d9534f;
    border-radius: 10px;
}

.links {
    margin-top: 2em;
    display: inline-block;
    width: 100%;
}

.links a.left {
    float: left;
}

.links a.right {
    float: right;
}

.links a i {
    font-size: 35px;
    color: #333333;
}

.links a img {
    height: 35px;
}

@media only screen and (max-width: 576px) {
    .links a i {
        font-size: 25px;
    }

    .links a img {
        height: 25px;
    }
}

.levelup-attr {
    font-style: italic;
}

.share-links {
    margin: 10px;
}

.share-links a {
    margin: 10px;
}
