html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
    float: left;
    width: 100%;
}

.modal {
    text-align: center;
}

.gm-style-iw {
    text-align: center;
}

/** To keep the modal window centered vertically on big screens */
@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.game-container .modal-dialog {
    width: auto;
}

/** Game controls */
.control {
    margin: 10px;
    font-weight: bolder;
    font-size: 150%;
    color: #f5f5f5;
    background-color: #474747;
    border: 1px solid #f5f5f5;
}

/* For icon with text */
pre.control span {
    margin-left: 10px;
}

.actionable-control {
    cursor: pointer;
}

.control-combo-top {
    margin-bottom: 0;
}

.control-combo-bottom {
    margin-top: 0;
}

.zoom
@media screen and (max-width : 480px) {
    .control {
        font-size: 100%;
    }
}

.infobox-wrapper {
    display:none;
}

.infoBox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/** Includes .infowindow-wrapper margin-top. */
.infoBox>img {
    top: 18px;
    right: 10px;
}

.infoBox .just-text {
    margin: 5px;
    white-space: nowrap;
}

.infowindow-wrapper {
    margin-top: 8px;
    background: #333;
    overflow: visible;
    border:2px solid black;
    -webkit-box-shadow: 0 0 8px #000;
    box-shadow: 0 0 8px #000;
    color: #f5f5f5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.infowindow-wrapper .poi-img {
    margin-top: -22px;
}

.infowindow-wrapper h3 {
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
}

.infowindow-content {
    margin: 70px 10px 15px 20px;
    font-size: larger;
}

.infowindow-wrapper .action-buttons {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infowindow-wrapper .action-buttons button {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 150%;
}

.action-header img {
    margin: auto;
}


.action-buttons button {
    margin: 3px 10px;
}

/** Avoid multiple lines action buttons. */
@media only screen and (max-width : 855px) {
    .action-buttons button {
        margin: 3px;
    }
}

@media only screen and (max-width : 767px) {
    .infowindow-wrapper .action-buttons {
        bottom: -10px;
    }
}



.info-box {
    text-align: center;
    margin: 20px auto 10px auto;
}

.story-name {
    margin-bottom: 20px;
}

.step-img {
    width: 40%;
    margin: 20px auto 10px auto;
    border-style: solid;
    border-width: thick;
}

a.notification {
    text-decoration: none;
}

/** From bootstrap components .badge */
.badge {
    margin: 0;
    position: absolute;
    top: 0;
    right: 4px;
    min-width: 10px;
    padding: 3px 7px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #d9534f;
    border-radius: 10px;
}
